/* App.css */

.topnav {
  background-color: #0281ff; /* Warna latar biru muda */
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: flex-end; /* Menempatkan item ke kanan */
  align-items: center; /* Rata tengah secara vertikal */
  font-family: sans-serif;
}

.App-link {
  color: #333; /* Warna teks untuk link */
  text-decoration: none;
  padding: 10px;
  margin-left: 15px; /* Memberi jarak antar item */
}

.App-link:hover {
  background-color: #0065e9; /* Warna latar saat link disorot */
}
